<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <!-- fuentes -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Anton&family=Ubuntu&display=swap" rel="stylesheet">
 
</head>
<body>
  <div class="container">
    {% for error in messages.errors %}
    <div class="alert alert-danger d-flex align-items-center" role="alert">
      <div>
        {{ error }}
      </div>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    <h3 class="text-center mt-5">Iniciar sesión</h3>
    <div class="row contenedor_login">
      <div class="col-12">
        <form action="/login" method="post" class="mt-4 p-4 text-white form_login">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input type="email" class="form-control" name="email" required>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Contraseña</label>
            <input type="password" class="form-control" name="password" required>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary">Enviar</button>
          </div>
          <p><a href="/register" class="auth-text">Registrarse</a></p>
        </form>
      </div>
    </div>
  </div>
  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="/js/scripts.js"></script>
</body>
</html>