{% macro navbar(ruta, user) %}
<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand">{{app_name}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link {% if ruta == '/' %}active{% endif %}" aria-current="page" href="/"><span class="material-symbols-outlined">
            home
            </span>Inicio</a>
        </li>
        {% if user.isadmin == true %}
          <li class="nav-item">
            <a class="nav-link {% if ruta == '/new_question' %}active{% endif %}" href="/new_question"> <span class="material-symbols-outlined">
              quiz
              </span>Agregar preguntas</a>
          </li>
        {%endif%}
      </ul>
      <form class="d-flex" role="search">
        <p class="text-white me-4">{{ user.name }}</p>
        <a href="/logout" class="btn btn-outline-danger" type="submit">Salir</a>
      </form>
    </div>
  </div>
</nav>
{% endmacro %}